<%- include("../includes/header.ejs") %>
<%- include("../includes/script.ejs") %>

<%- include("../includes/navbar.ejs", {user}) %>

<body id="login_body">
    <div class=" row m-5">
        <div class="col-md-6 m-auto">
            <div id="login" class="card card-body">
                <h1 class="text-center mt-3 text-white"><i class="fas fa-sign-in-alt"></i> Logga in</h1>
                <%- include("../includes/messages.ejs") %>

                <form action="/admin/signin" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Enter Password" />
                    </div>
                    <button type="submit" class="btn user-btn btn-block mt-5">Logga in</button>
                </form>
                <p class="lead mt-4 text-white">
                    Inget konto? <a href="/admin/signup">Registrera</a>
                </p>
            </div>
        </div>
    </div>
</body>

<%- include("../includes/footer.ejs") %>