<%- include("../includes/header.ejs") %>
    <%- include("../includes/script.ejs") %>
        <%- include("../includes/navbar.ejs") %>
<body>

    <div class="container mt-5">


        <div class="row products-container d-flex justify-content-center">
            <% allItems.forEach( (product) => { %>
            <div class="product-wrapper col-6 col-md-4 col-lg-3">
                <div class="product-img-wrapper">
                    <a href="/productpage/<%= product._id %>" class="specificProduct"><img src="<%= product.imageUrl %> "
                            alt="<%= product.name %>" /></a>
                </div>
                <div class="product-info">
                    <div class="product-name mt-auto"> <%= product.name %> </div>
                    <div class="product-price mt-auto"> <%= product.price %> kr </div>
                </div>
            </div>
            <% }) %>

        </div>
    </div>
                    <div class="pagination-wrapper d-flex justify-content-center">
                        <% for (let currentPage = 1; currentPage <= pageCount && pageCount > 1; currentPage++) { %>
                        <% if (currentPage === currentPage) {  %>
                        <button class="pagination-numbers btn mr-1"><a
                                href="/products/?page=<%= currentPage %>"><%= currentPage %></a></button>
                        <% } else { %>
                        <button class="pagination-numbers btn ml-1"><a
                                href="/products/?page=<%= currentPage %>"><%= currentPage %></a></button>
                        <% }; %>
                        <% }; %>
                    </div>
        <%- include("../includes/footer.ejs") %>

</body>
