<%- include("../includes/header.ejs") %>
<%- include("../includes/script.ejs") %>
<%- include("../includes/navbar.ejs") %>


<div class="container">
    <%- include("../includes/messages.ejs") %>
</div>

<%- include("../includes/logout.ejs") %>
