<%- include("../includes/header.ejs") %>
<%- include("../includes/script.ejs") %>
<%- include("../includes/navbar.ejs") %>

<body>

    <div id=content-container>
        <div id="content-two-thank">
            <% let max = Math.floor(Math.random() * 100000000) %>
            <h3 id="glow">
                Tack för att du klev in i mörkret hos oss. <br>Ditt ordernummer är <span
                    class="random-num"><%= max %></span>
                <br><br>Vi tar hand om dina artefakter under månens spröda sken och kommer snart att frambringa dem hos
                er.
            </h3>
            <img id="thirdeye" src="/img/thirdeyee.jfif" alt="">
        </div>
        <div class="content-four-thank">
        </div>
    </div>
</body>
<%- include("../includes/footer.ejs") %>